.navbar {
    padding: 30px 0;
    height: auto;
    width: 100%;
    background: var(--back);
    color: var(--theme);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar_inner {
    width: calc(100% - 100px);
    height: 70px;
}

/** MENU **/
.menu_icon_inner {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 260px;
    height: auto;
    min-height: 100vh;
    background: var(--dark-back);
    padding: 0 22px 22px;
    z-index: 50;
    transition: all 0.5s ease-in-out;
    transform: translateX(-400px);
}

.menu_icon_inner.active {
    display: flex;
    opacity: 1;
    transform: translateX(0px);
}

.menu_icon_inner div div {
    transition: all 0.7s ease-in;
    transform: translateY(40px);
    opacity: 0;
}

.menu_icon_inner.active div div {
    opacity: 1;
    transform: translateY(0px);
}

.menu_icon_inner ul li {
    transition: all 0.8s ease-in;
    transform: translateY(40px);
    opacity: 0;
}

.menu_icon_inner.active ul li {
    opacity: 1;
    transform: translateY(0px);
}

.menu_close {
    color: var(--text);
}

.menu_close_outter {
    margin: 25px 0px;
}

.menu_tab_outter {
    padding: 0;
}

.menu_tab_outter li {
    padding: 20px 0;
}

.menu_tabs {
    width: 100%;
    column-gap: 20px;
    font-size: 1.35rem;
    color: var(--text);
    font-family: Aldrich;
    margin: 0;
}

.menu_tabs.social {
    column-gap: 0px;
    font-size: 1.5rem;
    transform: translateX(-10px)
}

.menu_tabs.social .social_media_icon {
    color: var(--text);
}

/** SEARCH **/
.navbar_inner .nav_search {
    width: 97px;
    height: 43px;
}

.navbar_inner .nav_search .search_section {
    width: 70px;
    height: 100%;
}

.search_section.active .search_bar {
    display: flex;
}

.search_section .search_bar .search_bar_inner {
    position: absolute;
    width: 100%;
    height: 168px;
    left: 0;
    top: 0;
    background: var(--text);
    color: var(--dark-back);
    font-size: 2rem;
    z-index: 50;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
}

.search_section.active .search_bar .search_bar_inner {
    opacity: 1;
    transform: translateY(0);
}

.search_bar_inner .search {
    font-size: 1.3rem;
    font-family: Arvo;
    color: var(--dark-back);
    width: 80vw;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.navbar_inner .nav_logo {
    width: 185px;
    height: 100%;
}

.navbar_inner .nav_logo img {
    width: 100%;
    height: auto;
    margin: 0px 30px;
}

/** CART **/
.nav_features {
    width: 100px;
}

.nav_profile_cart {
    width: 100%;
    padding: 0;
}

.navbar_navigation {
    width: calc(100% - 60px);
}

.navbar_navigation ul {
    width: 100%;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Aldrich;
}

.navbar_navigation ul li {
    list-style: none;
}

.navbar_navigation ul li .navigation_tabs {
    font-size: 0.65rem;
    letter-spacing: .075em;
    padding: 0px 10px;
    font-weight: 400;
    color: var(--theme);
}

.currency {
    font-size: 1.15rem;
    border: transparent;
    font-family: Arvo;
    background: transparent;
    color: rgb(74, 74, 74);
}

.nav_cart {
    width: 100%;
    position: relative;
}

.nav_cart:before {
    display: none;
}

.badge {
    position: absolute;
    top: 5px;
    right: 12px;
    background-color: #5562cf;
    border: 2px solid var(--text);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.nav_cart.active:before {
    position: fixed;
    display: block;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
    background: #17172cb2;
}

.nav_cart_tray {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: unset;
    align-items:center;
    font-family: Aldrich;
    opacity: 0;
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100% - 40px);
    background: var(--dark-back);
    padding: 0 40px 40px;
    z-index: 50;
    transition: all 0.5s ease-in-out;
    transform: translateX(400px);
}

.nav_cart_tray.active {
    opacity: 1;
    transform: translateX(0px);
}

.nav_cart_tray .nav_cart_tray_inner {
    width: 100%;
    padding: 15px 0;
    font-family: Arvo;
}

.nav_cart_tray .nav_cart_tray_inner {
    height: 87px;
    padding: 15px 0;
    width:100%;
    color:var(--text);
    font-family: Aldrich;
}

.nav_cart_tray .nav_cart_tray_inner h2 {
    opacity: 0;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4rem;
    transition: all 0.8s ease-in;
    transform: translateY(40px);
}

.nav_cart_tray.active .nav_cart_tray_inner h2 {
    opacity: 1;
    transform: translateY(0px);
}

.nav_cart_tray .nav_cart_tray_inner div {
    display: inline-block;
    padding: 0 15px;
    width: 10px;
    height: 25px;
}

.nav_cart_tray div p {
    padding-top: 0;
    opacity: 0;
    transition: all 1s ease-in;
    transform: translateY(40px);
}

.nav_cart_tray.active div p {
    opacity: 1;
    transform: translateY(0px);
}

@media (min-width: 768px) {
    #media_sm {
        display: none;
    }

    #media_lg {
        display: flex;
        font-size: 1.7rem;
        padding: 7.8px 8px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    #media_lg {
        display: none;
    }
    
    #media_sm {
        display: flex;
        font-size: 1.7rem;
        padding: 7.8px 8px;
        cursor: pointer;
    }

    .navbar {
        padding: 0;
    }

    .search_section {
        width: auto;
    }

    .navbar_inner {
        width: 100%;
        height: 78px;
    }

    .nav_features {
        width: 90px;
    }

    .navbar_inner .nav_logo {
        max-width: 80px;
        height: 100%;
    }

    .badge {
        top: -5px;
        width: 11px;
        height: 11px;
    }

    .search_bar_inner .search {
        color: #000;
        width: 70%;
    }

    .search_section .search_bar .search_bar_inner {
        height: 100px;
    }

    .nav_cart #icon {
        padding: 0
    }

    .media_sm {
        padding: 0;
    }
}